/*---------Сетка----------*/
.container {
  width: 1168px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container::after {
  display: block;
  content: '';
  clear: both;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row::after {
  display: block;
  content: '';
  clear: both;
}
/*.col-12 {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
  width: 100%;
}
.col-11 {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
  width: 91.66666667%;
}
.col-10 {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
  width: 83.33333333%;
}
.col-9 {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
  width: 75%;
}
*/
.col-8 {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
  width: 66.66666667%;
}
/*
.col-7 {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
  width: 58.33333333%;
}
.col-6 {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
  width: 50%;
}
.col-5 {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
  width: 41.66666667%;
}
*/
.col-4 {
  width: 33.33%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
}
/*
.col-3 {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
  width: 25%;
}
.col-2 {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
  width: 16.66666667%;
}
.col-1 {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 1px;
  width: 12.5%;
}
*/

/*----------Базовые стили---------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}
a {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  clear: both;
  display: block;
  content: '';
}

/*------------Кастомные стили------------*/
.header {
  height: 100vh;
  min-height: 750px;
  background-color: #E5E5E5;
  background-image: url('../mainApp/image/background-mephi.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.header_top-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 20;
}
/*
.header_top-block .container {
  border-bottom: 1px solid #505269;
}
*/
.fixed {
  background-color: #275079;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}
.fixed .container {
  border: none;
}

.logo {
  display: inline-block;
  margin: 38px 0;
  color: white;
}

.logo h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.header-menu {
  text-align: right;
  margin-top: 45px;
}

.header-menu ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 60px;
}

.header-menu ul li a {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  opacity: 0.9;
  transition: all 0.2s;
  display: inline-block;
  position: relative;
}

.header-menu ul li a::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  background-color: #fff;
  height: 2px;
  transition: all 0.2s;
}

.header-menu ul li a:hover:after {
  width: 100%;
  transition: all 0.2s;
}

.header_content-block {
  text-align: center;
  padding-top: 95px;
}

.header_content-block img {
  width: 300px;
  padding: 30px;
}

.header_content-block h1 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 71px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  max-width: 870px;
  margin-top: 40px;
}

.header_content-block p {
  max-width: 920px;
  margin-top: 40px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  display: inline-block;
}

.header_content-block .btn {
  margin: 57px ;
  display: inline-block;
  background-color: #275079;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  width: 200px;
  padding: 18px 0;
  transition: all 0.2s;
}

.header_content-block .btn:hover {
  transition: all 0.2s;
  background-color: #e74215;
}

.footer {
  padding: 29px 0;
  background-color: #275079;
  text-align: center;
}

.footer p {
  color: #808080;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.5px;
}

.footer p i {
  font-style: normal;
  color: red;
  margin-left: 5px;
  margin-right: 5px;
}

.footer p span {
  color: #fff
}

@media only screen and (max-width: 1366px) {
  .portfolio-item {
    height: 280px;
  }
}