<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ProctorMEPhI</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/conference.css' %}">
  <script src="../static/js/jquery-3.5.1.min.js"></script>
  <script src="https://rtcmulticonnection.herokuapp.com/dist/RTCMultiConnection.min.js"></script>
  <script src="https://rtcmulticonnection.herokuapp.com/socket.io/socket.io.js"></script>
  <script src='https://meet.jit.si/external_api.js'></script>
  <script src="https://meet.jit.si/libs/lib-jitsi-meet.min.js"></script>
</head>
<body>
  <!-- <div class="overlay"></div> -->
  <header class="header">
    <div class="container">
      <div class="header_top-block fixed">
        <div class="container">
        <div class="row">
          <div class="col-4">
            <a href="/" class="logo">
              <h3>ProctorMEPhI</h3>
            </a>
          </div>
          <div class="col-8">
            <nav class="header-menu">
              <ul>
                <li><a href="#">Поддержка</a></li>
                <li><a href="/">Выход</a></li>
              </ul>
            </nav>
          </div>
        </div>
        </div>
      </div>
      <div class="header_content-block">
        <input id="conference_name" size="30" maxlength="30" placeholder='Введите название комнаты'>
        <button class="btn" id="join_room" onclick="JoinRoom()">Присоединиться</button>
    </div>
      <button class="btn" id="on_off_micro" onclick="">Вкл./Выкл. микрофон</button>
      <button class="btn" id="on_off_video" onclick="">Вкл./Выкл. камеру</button>
      <button class="btn" id="on_off_screen_share" onclick="">Вкл./Выкл. показ экрана</button>
      <button class="btn" id="exit_from_room" onclick="">Покинуть комнату</button>
    <script>
      function JoinRoom(){
        var options = {
          useIPv6: false,
          desktopSharingChromeExtId: '',
          desktopSharingChromeDisabled: false,
          desktopSharingChromeSources: ['screen', 'window'],
          desktopSharingFirefoxDisabled: false,
          disableAudioLevels: false,
          disableSimulcast: false

        };
        JitsiMeetJS.init(options);
        var connection = new JitsiMeetJS.JitsiConnection();
        connection.addEventListener(JitsiMeetJS.events.connection.CONNECTION_ESTABLISHED, onConnectionSuccess);
        connection.addEventListener(JitsiMeetJS.events.connection.CONNECTION_FAILED, onConnectionFailed);
        connection.addEventListener(JitsiMeetJS.events.connection.CONNECTION_DISCONNECTED, disconnect);

        connection.connect();
        var confOptions = {
        
        };
        room = connection.initJitsiConference("conference1", confOptions);
        room.on(JitsiMeetJS.events.conference.TRACK_ADDED, onRemoteTrack);
        room.on(JitsiMeetJS.events.conference.CONFERENCE_JOINED, onConferenceJoined);
        JitsiMeetJS.createLocalTracks().then(onLocalTracks);
        room.join();
        /*var options = {
          
        };*/
        
        document.getElementById("join_room").style.visibility = "hidden";
        document.getElementById("conference_name").style.visibility = "hidden";
        };
        
    </script>
    <div id="meet">
    </div>
  </header>
  <footer class="footer">
    <p>© 2020 Национальный исследовательский ядерный университет «МИФИ»</p>
    <p>Создано студентами 22-ой кафедры НИЯУ "МИФИ"</p>
  </footer>
</body>
</html>